@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 14px; } }

.main-widget--auto {
    padding-bottom: 49px; }
.main-widget--auto .mw__header {
    margin-top: 8px;
    text-align: center !important;
}
.spt .mw__header, .ltpt .mw__header { text-align: center; }

.pop-out-widget {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    .pblock__discount {
        display: none;
    }
    .spw__form {
        margin-bottom: 0;
    }
    .input-button-container { 
        margin-left: 7px; 
    }
    .widget-footnote--xp {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        margin-top: 15px;
    }
}

.form-control.emptyfield {
    color: #999 !important;
}
.licensePlateInput.emptyfield {
    font-size: 12px;
}



.spw__form label { display: block; }

.spw__form .error {
    border: 2px solid red;
}

form input[name="licensePlateInput"].licenseplate_error {
    background: url(../../img/nummerbord-230x50pxredborder.png) no-repeat left top transparent;
}

.form__adres-inputs {
    /*text-align: center;*/
    margin-left:0px;
}

/* pop out widget (kenteken) */
.pop-out-widget {
    position:relative;
}
.pop-out-widget .inner-widget-container, .pop-out-widget .inner-widget-container-damage {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 20;
    display: none;
    text-align: left;
}
.pop-out-widget .inner-widget-container .main-widget {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 1);
}
.pop-out-widget .inner-widget-container-damage {
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    z-index: 30;
}
.pop-out-widget .inner-widget-container-damage .main-widget {
    height: 500px;
    /*overflow: hidden;*/
}
.pop-out-widget .inner-widget-container-damage .form-group select {
    width: 100%;
    color: #888888;
    height: 32px;
    padding: 0 10px;
    margin-top: 5px;
}
.pop-out-widget .inner-widget-container-damage .damage-footer {
    position: absolute;
    left:0;
    bottom:0;
    background-color: #FFFFFF;
    width: 100%;
	padding-bottom:20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pop-out-widget .inner-widget-container-damage .damage-footer a {
    float:left;
    margin: 20px 0 0 20px;
    color: #0068bd;
    text-decoration: underline;
    font-weight:bold;
}
.pop-out-widget .inner-widget-container-damage .damage-footer .input-button-container {
    float:right;
    margin-right: 20px;
    width: 125px;
}
.pop-out-widget .inner-widget-container-damage .damage-estimation {
    width: 190px;
    font-size: 16px;
    margin: 0 auto;
}
.damage-estimation .description {
    float: left;
    width: 125px;
    height: 45px;
}
.damage-estimation .amount {
    float: right;
    font-size: 50px;
    font-weight:bold;
    line-height: 45px;
}
.pop-out-widget .inner-widget-container-damage .no-estimation {
    display: none;
}
.pop-out-widget .inner-widget-container .main-widget {
    overflow: hidden;
    /*box-shadow: 0 10px 3px #000000;*/
}
.pop-out-widget .inner-widget-container .widget-footnote{
    height: auto;
    bottom:0;
    background-color: #34a00a;
    margin-left: 1px;
}

/* semi transparent layer */
.semi-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

/* insurance widget (kenteken) */
.insurance-inputs {
    /*width: 290px;*/
    width: auto;
    margin-left: 10px;
    /*margin: 0 auto;*/
}

.insurance-inputs .form-group {
    display: inline-block;
    margin-bottom: 5px;
    width: 200px;
}
.insurance-inputs .form-control {
    float:left;
    width: 165px;
    padding: 0 10px;
}
.insurance-inputs .form-control.date {
    width: 46px;
    margin-right: 10px;
}
.insurance-inputs .form-control.date.year {
    margin-right:0;
    width: 52px;
}
.insurance-inputs .form-control.single-input {
    width: 32px;
}
.insurance-inputs a.calculate-damage-free-years {
    width: 150px;
    /*float: left;*/
    /*margin: 6px 0 0 10px;*/
    font-size: 13px;
}
.insurance-inputs label {
    clear: left;
    width: 155px;
    text-align: left;
    padding-right: 10px;
    margin-top: 6px;
}

.spw__form--adres .house-insurance-inputs .isowner {
    margin-top:20px;
}

@media (max-width:330px) {
    .insurance-inputs .form-control {
        width: 100px;
    }
}

@media (min-width:993px) {
    .insurance-inputs .form-control {
        width: 130px;
    }
}

@media (min-width:1200px) {
    .insurance-inputs .form-control {
        width: 165px;
    }
}

.house-insurance-inputs .form-group {
    margin-top: 10px;
    margin-left: 7px;
    font-size: 14px;
}

.house-insurance-inputs .form-group .birthdate {
    float: left;
}

@media (min-width: 768px) {
    .house-insurance-inputs .form-group select {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .spw__form--adres .house-insurance-inputs .form-group--houserooms label {
        display: block;
    }

    .spw__form--adres .house-insurance-inputs select {
        width:300px;
        display: inline;
    }

    .spw__form--adres .house-insurance-inputs .rooftoptype {
        display: block;
    }

    #house-insurance-form > div.house-insurance-inputs > div.form-group.birthdate {
        width:300px;
        display: block;
    }
}

@media (max-width:480px) {
    .house-insurance-inputs .form-group select  {
        max-width: 200px;
        width: 100%;
    }
}
#house-insurance-form > div.house-insurance-inputs > div.form-group.birthdate {
    max-width: 200px;
    width: 100%;
    margin-right: 15px;
}

@media (max-width:320px) {
    #tooltip_housetype, #tooltip_houserooms {
        display: none;
    }

    .spt .mw__header, .ltpt .mw__header {
        text-align: left;
        font-size: 14px;
    }
    .mw__form-header {
        font-size: 13px;
        text-align: left;
    }

    .input-button-container input {
        font-size: 14px;
    }
    .input-button-container:after {
        content: '';
    }
}

#house-insurance-form > div.house-insurance-inputs > div.form-group.birthdate {
    display: block;
}

.widget-error-container {
    overflow: hidden;
    background-color: #fff6b1;
    color: #575757;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 14px;
}

.widget-error-container .error-logo {
    width:20%;
    float:left;
    margin: 10px 0px 0px 10px;
    padding-left: 15px;
    font-size: 40px;
}

.widget-error-container .error-message {
    width: 75%;
    margin-top: 10px;
    float:right;
    overflow: hidden;
}

.widget-error-container .error-message ul.error-message-list {
    margin-bottom: 10px;
    word-wrap: break-word;
}

.widget-error-container .error-message .error-message-list li {
    color: red;
    font-size:12px;
    font-weight: bold;
    line-height: 100%;
    margin-right: 5px;
}

/*.widget-error-container .error-message .error-message-list li:before {*/
/*content: "-";*/
/*position:relative;*/
/*left: 15px;*/
/*margin-right: 5px;*/
/*}*/


/* --- fixes --- */
.form-control-radiobutton {clear:both;}
.rooftoptype {margin-bottom: 0px!important;}
.break {clear:both;float:none!important;}

.form-group--housetypes {width:100%;}
.form-group--houserooms {width:100%;}
.insurance-inputs .form-group{width:100%;}

#tooltip_houserooms,
#tooltip_housetype {
	margin-right:-30px;
}
.form-center input, .form-center label  {width:100%!important;}
.damagefreeyears input {width:40px!important; text-align:center; margin-top:10px;}
.damagefreeyears label {width:140px!important; padding:0px;margin-top:15px;}

.house-insurance-inputs .form-group select  {
    max-width: 200px;
    width: 100%;
}

#tooltip_damagefreeyears {
	margin-right:-30px;
	margin-left:5px;
	float:left;
	position:relative;
	top:10px;
}


.form-center *{
	text-align:center!important;
}

.form-center {
	text-align:center;
	margin-left:auto!important;
	margin-right:auto!important;
	width: 232px!important;
	position:relative;
	left:-3px;
}


::-webkit-input-placeholder {color: #a9a9a9!important;}
:-moz-placeholder { /* Firefox 18- */color: #a9a9a9!important;}
::-moz-placeholder {  /* Firefox 19+ */color: #a9a9a9!important;}
:-ms-input-placeholder { color: #a9a9a9!important;}
.placeholder { color: #a9a9a9!important;}

.licensePlateInput::-webkit-input-placeholder {color: #bd9200!important;}
.licensePlateInput:-moz-placeholder { /* Firefox 18- */color: #bd9200!important;}
.licensePlateInput::-moz-placeholder {  /* Firefox 19+ */color: #bd9200!important;}
.licensePlateInput:-ms-input-placeholder { color: #bd9200!important;}
.licensePlateInput.placeholder { 
	color: #bd9200!important;
	font-size:14px;
}

.pop-out-widget .inner-widget-container.open .main-widget {
    height: auto !important;
    overflow: visible;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px;
	/*border: 2px solid #000;*/
    background-color: #fff6b1;
    color: #34a00a;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 14px;
	padding: 8px 10px;
	overflow: auto;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important;
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important;
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}