- var sviNaam = 'Schadeverzekering inzittenden'
- var sviUSP1 = 'U en uw passagiers zijn tot <span>&euro;&nbsp;1.000.000,-</span> verzekerd voor letselschade.'
- var sviUSP2 = 'Het maakt niet uit of het ongeluk door u of iemand anders is veroorzaakt.'
- var sviUSP3 = 'Vergoedt ook <span>schade die uw zorg&shy;verzekering niet betaalt</span>. Zoals het eigen risico.'	
