.text-block.tblock--collectiviteitskorting.md-6th
	h3.tblock__header Collectiviteitsvoordeel
	.tblock__text
		p Uw korting kan nog hoger worden als u ook recht heeft op collectiviteitsvoordeel. Bijvoorbeeld via uw werkgever of uw vereniging. Dat kan zelfs gunstiger zijn dan de korting via Zilveren Kruis.
	p.more-link
		a.lp-link(onclick="Link('#{collectiefLink}','cross','zka','collectief-info-aug14','referrer','49545');return false;" href="#{collectiefLink}" data-icon="a") Meer informatie