.text-block.tblock--contact.sm-3rd.md-2nd
	h3.tblock__header Even Apeldoorn bellen
	a.xsell-button.xsell-button--white-bg.xsell-button--phonenumber(title="E-mail" data-icon="a" href="tel:055-5799054") 055 - 579 8000
	p.cb-phone--large 055 - 579 8000
	.tblock--contact--terugbellen
		h4.tblock__subheader Laat u terugbellen!
		a.xsell-button.xsell-button--white-bg.lp-link(onclick="Link('#{terugbelLink}','cross','zka','mp-lp-bel','referrer','49545');return false;" href="#{terugbelLink}" title="Bel me terug" data-icon="a") Bel me terug
	h4.tblock__subheader Of stel uw vraag via e-mail							
	a.xsell-button.xsell-button--white-bg.lp-link(onclick="Link('#{emailLink}','cross','zka','mp-lp-email','referrer','49545');return false;" href="#{emailLink}" title="E-mail" data-icon="a") E-mail