.pblock__discount
	.discount__text
		.discount__1st 8%
		.discount__2nd korting				
h2.mw__header.mw__header--xp Autoverzekering
//-h3.mw__form-header Direct uw premie berekenen?
form.spw__form.autoform(method="GET" action="#{autoLink}" name="autoFormulier")
	.nummerbord
		input(type="text" name="licensePlateInput" placeholder="Vul uw kenteken in")
	.input-button-container.input-button-container--xp
		input(type="submit" value="Ontdek Centraal Beheer")
.widget-footnote
	h3.fn__header Meer korting via uw werkgever?
	p Uw korting als klant van Zilveren Kruis is 8%. 
		a.collectiviteitsvoordeel-link(href="#") Check hier of u recht heeft op nog meer collectiviteitsvoordeel. <i class="fa fa-chevron-circle-down"></i>	
	//-p Als klant van Zilveren Kruis krijgt u 8%&nbsp;premiekorting. 
		a.collectiviteitsvoordeel-link(href="#") Check hier of u recht heeft op nog meer collectiviteitsvoordeel. <i class="fa fa-chevron-circle-down"></i>