form.spw__form.autoform(method="GET" action="#{autoLink}" name="autoFormulier")
	.nummerbord
		input(type="text" name="licensePlateInput" placeholder="Vul uw kenteken in")
	.input-button-container
		input(type="submit" value="Ontdek Centraal Beheer")