form.spw__form.spw__form--adres.form-inline.woonform(method="GET" action="#{woonLink}" name="woonFormulier")
	.form__adres-inputs
		.form-group.form-group--postcode
			label Postcode
			input.form-control(type="text" id="postcode" name="postcode")
		.form-group.form-group--huisnummer
			label Huisnr.
			input.form-control(type="text" id="huisnummer" name="huisnummer")
		.form-group.form-group--toevoeging
			label Toevoeging
			input.form-control(type="text" name="toevoeging")
	.input-button-container
		input(type="submit" value="Ontdek Centraal Beheer")