header.page-head
	.container
		.row
			.col-xs-6
				.branding
					h1.site-name Zilveren Kruis
					.site-logo
						a.lp-link(href="#{zkLink}" data-cre="#{dataCre}")
							img.logo(src="img/Zilveren-Kruis-Raad-En-Daad-Logo-2015-v2-444x200px.png" alt="Zilveren Kruis")
			.col-xs-6
				.branding--secondary
					.centraal-beheer-logo
						a.lp-link(href="#{cbLink}" data-cre="#{dataCre}")
							//-img.logo(src="img/Centraal-Beheer-Logo-2015-309x200px.png" alt="Centraal Beheer")
							img.logo(src="img/centraal-beheer-achmea-logo-333x120px.png" alt="Centraal Beheer Achmea")