.text-block.tblock--independer.md-6th
	h3.tblock__header Independer: een 
		span.independer__cijfer 7,8
		| voor Centraal Beheer
	.tblock__text
		p Bijna 1000 klanten hebben Centraal Beheer voor u beoordeeld op Independer. Ze hebben allemaal in ieder geval de autoverzekering. En wie weten het beter dan onze klanten?
	.tblock--independer__img
		img(src="img/independer-logo-523x121px.png" alt="Independer logo")