.main-widget.main-widget--light.mw--multi.sm-2nd
	h2.mw__header.mw__header--multi Profiteer van de samenwerking met 
		span.company-name Centraal Beheer
		| :
	ul.mw--multi__product-list
		li
			span.main-widget__naam
				mixin autoOnClick('Autoverzekering')
			span.main-widget__korting
				mixin autoOnClick('min. 8% korting') 
		li
			span.main-widget__naam
				mixin woonOnClick('Woonverzekering')
			span.main-widget__korting
				mixin woonOnClick('min. 8% korting')							
		li
			span.main-widget__naam
				mixin rechtOnClick('Rechtsbijstandverzekering')
			span.main-widget__korting
				mixin rechtOnClick('Lees meer')							
		li
			span.main-widget__naam
				mixin bootOnClick('Bootverzekering')
			span.main-widget__korting
				mixin bootOnClick('min. 5% korting')							
		li
			span.main-widget__naam
				mixin caravanOnClick('Caravanverzekering')
			span.main-widget__korting
				mixin caravanOnClick('min. 5% korting') 							
		li
			span.main-widget__naam
				mixin camperOnClick('Camperverzekering')
			span.main-widget__korting
				mixin camperOnClick('min. 3,5% korting')							
		li
			span.main-widget__naam
				mixin motorOnClick('Motorverzekering')
			span.main-widget__korting
				mixin motorOnClick('min. 1,5% korting')