- var kbhNaam = 'Kostbaarheden Buitens&shy;huis&shy;verzekering'
- var kbhUSP1 = 'Uw spullen verzekerd tegen <span>schade, verlies en diefstal.</span>'
- var kbhUSP2 = '<span>Ook in het buitenland</span> zijn uw spullen goed verzekerd.'
- var kbhUSP3 = 'U heeft <span>geen eigen risico</span>.'

- var arwNaam = 'All Risks Woonverzekering'
- var arwUSP1 = '<span>Schade door eigen schuld</span> vrijwel altijd verzekerd.'
- var arwUSP2 = 'De dekking geldt voor uw <span>inboedel én schade aan uw huis.</span>'
- var arwUSP3 = 'De schadeservice is <span>altijd telefonisch bereikbaar.</span>'

- var sviNaam = 'Schadeverzekering inzittenden'
- var sviUSP1 = 'U bent tot <span>€ 1.000.000,- p.p.</span> verzekerd voor letselschade'
- var sviUSP2 = 'U krijgt ook uitbetaald als het <span>ongeluk uw eigen schuld</span> was'
- var sviUSP3 = 'Vergoedt ook <span>schade die uw zorgverzekering niet betaalt</span>. Zoals het eigen risico'	
